# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 2. What is the mean salary is the state KS
   
   function name: mean_ks_salary()
   
   inputs: DataFrame
   
   outputs: float
   
   
## 3. Which Region has highest mean salary
   
   function name: max_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 4. Which region has lowest mean salary
   
   function name: min_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 5. Which City has highest mean weight
   
   function name: max_mean_weight_city()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors
   
   function name: dr_prof_mean_salary_diff()
   
   inputs: DataFrame
   
   outputs: float
   
   
## 7. How many female use yahoo
   
   function name: females_with_yahoo()
   
   inputs: DataFrame
   
   outputs: int
   
   
## 8. How many Doctors use gmail
   
   function name: doctors_with_gmail()
   
   inputs: DataFrame
   
   outputs: int
   
   
## 9. What is the password of the youngest male
   
   function name: youngest_male_password()
   
   inputs: DataFrame
   
   outputs: str

In [45]:
import pandas as pd
import calendar

# demo.csv
file_path = "demo.csv"
df = pd.read_csv(file_path)
display(df)

# test.csv
# file_path = "test1.csv"
# test_df = pd.read_csv(file_path)
# display(test_df)

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
2,412317,Drs.,Elisabeth,W,Foster,F,elisabeth.foster@gmail.com,Irwin Foster,Janie Foster,Delaney,...,215-91-0004,270-749-4774,Lexington,Fayette,Lexington,KY,40501,South,ewfoster,5D.B4IGNkWJfG<~
3,621375,Mrs.,Briana,C,Lancaster,F,briana.lancaster@yahoo.com,Jeffrey Lancaster,Shelby Lancaster,Weiss,...,534-71-1053,219-623-8216,Munster,Lake,Munster,IN,46321,Midwest,bclancaster,I%?JDM;pW
4,787549,Hon.,Estella,L,Potter,F,estella.potter@gmail.com,Booker Potter,Katelyn Potter,Pate,...,644-29-6396,907-677-8486,Fairbanks,Fairbanks North Star,Fairbanks,AK,99709,West,elpotter,j4jkEXfC&Rh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,568435,Ms.,Bonnie,K,Baker,F,bonnie.baker@bp.com,Edwardo Baker,Pauline Baker,Robinson,...,064-02-6162,262-696-9171,Mukwonago,Waukesha,Mukwonago,WI,53149,Midwest,bkbaker,a?Co:/r;nu_wTQ
996,597409,Mr.,Luke,S,Turner,M,luke.turner@charter.net,Javier Turner,Nicole Turner,Sykes,...,056-02-8240,231-629-0498,Freeport,Barry,Freeport,MI,49325,Midwest,lsturner,7n5@64VC7|
997,359608,Hon.,Eva,S,Holman,F,eva.holman@hotmail.com,Coy Holman,Haley Holman,Boyle,...,343-11-1935,209-912-6705,Turlock,Stanislaus,Turlock,CA,95381,West,esholman,DG<<<e}*WgD<U
998,803426,Mrs.,Maritza,H,Christian,F,maritza.christian@microsoft.com,Dion Christian,Stephanie Christian,Mooney,...,336-11-5030,203-224-9056,Stamford,Fairfield,Stamford,CT,6910,Northeast,mhchristian,Krs@#TnM
999,669618,Drs.,Phyllis,H,Dudley,F,phyllis.dudley@yahoo.co.in,Jarrod Dudley,Latisha Dudley,Wilcox,...,101-02-6501,405-970-2341,Meno,Major,Meno,OK,73760,South,phdudley,h6wt@400%&Uu

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame
   
   outputs: str

In [122]:
def max_joinings_month(df):
    # your code here
    max_month_name = df['Month Name of Joining'].mode().values[0]
    return max_month_name

print("on demo.csv",max_joinings_month(df))
# print("on test.csv",max_joinings_month(test_df))

on demo.csv April

## 2. What is the mean salary is the state KS
   
   function name: mean_ks_salary()
   
   inputs: DataFrame
   
   outputs: float

In [20]:
def mean_ks_salary(df):
    # your code here
    ks_salaries = df.loc[df['State'] == 'KS', 'Salary']
    mean_ks_salary = ks_salaries.mean()
    return mean_ks_salary 

print("on demo.csv",mean_ks_salary(df))
# print("on test.csv",mean_ks_salary(test_df))
# on demo.csv 104225.45454545454
# on test.csv Output Hidden

on demo.csv 104225.45454545454

## 3. Which Region has highest mean salary
   
   function name: max_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str

In [21]:
def max_mean_salary_region(df):
    # your code here
    mean_salaries_by_region = df.groupby('Region')['Salary'].mean()
    max_mean_salary_region = mean_salaries_by_region.idxmax()
    return max_mean_salary_region

print("on demo.csv",max_mean_salary_region(df))
# print("on test.csv",max_mean_salary_region(test_df))
# on demo.csv Midwest

on demo.csv Midwest

## 4. Which region has lowest mean salary
   
   function name: min_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str

In [22]:
def min_mean_salary_region(df):
    # your code here
    mean_salaries_by_region = df.groupby('Region')['Salary'].mean()
    min_mean_salary_region = mean_salaries_by_region.idxmin()
    return min_mean_salary_region

print("on demo.csv",min_mean_salary_region(df))
# print("on test.csv",min_mean_salary_region(test_df))

on demo.csv West

## 5. Which City has highest mean weight
   
   function name: max_mean_weight_city()
   
   inputs: DataFrame
   
   outputs: str

In [25]:
def max_mean_weight_city(df):
    # your code here
    mean_weights_by_city = df.groupby('City')['Weight in Kgs.'].mean()
    max_mean_weight_city = mean_weights_by_city.idxmax()
    return max_mean_weight_city

print("on demo.csv",max_mean_weight_city(df))
# print("on test.csv",max_mean_weight_city(test_df))
# on demo.csv Conroe

on demo.csv Conroe

## 6. What is the difference between mean salary of Doctors and Professors
   
   function name: dr_prof_mean_salary_diff()
   
   inputs: DataFrame
   
   outputs: float

In [186]:
def dr_prof_mean_salary_diff(df):
    doctor_salary = df[df['Name Prefix'].str.contains('dr',case=False)].Salary.mean()
    professor_salary = df[df['Name Prefix'].str.contains('Prof.',case=False)].Salary.mean()
    return professor_salary - doctor_salary 
print("on demo.csv",dr_prof_mean_salary_diff(df))

on demo.csv 2635.981785063763

In [188]:
def dr_prof_mean_salary_diff(df):
    # your code here
    doctors_salary = df[df['Name Prefix'].str.contains('dr',case=False)]["Salary"].mean()
    professor_salary = df[df['Name Prefix'].str.contains('Prof.',case=False)]["Salary"].mean()
    return professor_salary - doctors_salary

print("on demo.csv",dr_prof_mean_salary_diff(df))
# print("on test.csv",dr_prof_mean_salary_diff(test_df))

on demo.csv 2635.981785063763

## 7. How many female use yahoo
   
   function name: females_with_yahoo()
   
   inputs: DataFrame
   
   outputs: int

In [150]:
def females_with_yahoo(df):
    # your code here
    female_yahoo_users = df.loc[(df['Gender'] == 'F') & (df['E Mail'].str.contains('@yahoo'))]
    num_female_yahoo_users = len(female_yahoo_users)
    return num_female_yahoo_users

print("on demo.csv",females_with_yahoo(df))
# print("on test.csv",females_with_yahoo(test_df))

on demo.csv 69

## 8. How many Doctors use gmail
   
   function name: doctors_with_gmail()
   
   inputs: DataFrame
   
   outputs: int

In [101]:
def doctors_with_gmail(df):
    # your code here
    doctor1_gmail_users = df.loc[(df['Name Prefix'] == 'Drs.') & (df['E Mail'].str.contains('@gmail.com'))]
    doctor2_gmail_users = df.loc[(df['Name Prefix'] == 'Dr.') & (df['E Mail'].str.contains('@gmail.com'))]
    doctors_gmail_users = doctor1_gmail_users+doctor2_gmail_users
    num_doctor_gmail_users = len(doctors_gmail_users)
    return num_doctor_gmail_users

print("on demo.csv",doctors_with_gmail(df))
# print("on test.csv",doctors_with_gmail(test_df))

on demo.csv 42

## 9. What is the password of the youngest male
   
   function name: youngest_male_password()
   
   inputs: DataFrame
   
   outputs: str

In [157]:
def youngest_male_password(df):
    # your code here
    youngest_male = df.loc[df['Gender'] == 'M'].sort_values(by='Age in Yrs.').iloc[1]
    youngest_male_password = youngest_male['Password']
    return youngest_male_password

print("on demo.csv",youngest_male_password(df))
# print("on test.csv",youngest_male_password(test_df))

on demo.csv xPr\aGPTQ#v

In [154]:
male_df = df[df['Gender'] == 'M']
youngest_male = male_df.loc[male_df['Age in Yrs.'].idxmin()]
password = youngest_male['Password']
password
print(f"youngest_male password: {password}")

youngest_male password: xPr\aGPTQ#v